# Node modules
node_modules/

# Logs
logs/
*.log

# Environment files
.env

# Build output
build/
dist/

# Dependency directories
.eslintcache
.next/

# IDE and editor configurations
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
